@model Decksplain.Features.Card.CardDto
<section class="card">
    <header>
        <a href="@Model.RelativeUrl">
            <h2>@Model.Title</h2>
        </a>
        <div class="card-info">
            <p>@Html.Raw(Model.Players) players</p>
            <p>@Html.Raw(Model.RoundTime) minutes</p>
        </div>
    </header>
    <img
        class="qr"
        alt="Embedded QR Code"
        src="@Model.QrCodeUrl"
        style="width: 5rem;"
    />
    <div class="card-content">
        @Html.Raw(Model.FrontContent)
    </div>
</section>
